.page-container {
  background-color: rgb(255, 238, 246);
}

.page-container > img {
  width: 100%;
}

.page-container > button {
  margin: 2rem 0;
  padding: 1.5rem 1rem;
  border: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  cursor: pointer;
  color: white;
  background-color: #e435e4;
}

.page-container > button:hover {
  background-color: #e77de7;
  color: black;
}

.form-container {
  margin: 2rem auto;
  max-width: 450px;
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
}

.form-container label {
  display: block;
  margin-bottom: 10px;
}

.form-container label > span {
  float: left;
  width: 100px;
  color: #f070a9;
  font-weight: bold;
  font-size: 13px;
  text-shadow: 1px 1px 1px #fff;
}

.form-container fieldset {
  border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	margin: 0px 0px 10px 0px;
	border: 1px solid #FFD2D2;
	padding: 20px;
	background: white;
	box-shadow: inset 0px 0px 15px #FFE5E5;
	-moz-box-shadow: inset 0px 0px 15px #FFE5E5;
	-webkit-box-shadow: inset 0px 0px 15px #FFE5E5;

}

.form-container fieldset legend {
  color: #FFA0C9;
	border-top: 1px solid #FFD2D2;
	border-left: 1px solid #FFD2D2;
	border-right: 1px solid #FFD2D2;
	border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	-moz-border-radius: 5px 5px 0px 0px;
	background: #FFF4F4;
	padding: 0px 8px 3px 8px;
	box-shadow: -0px -1px 2px #F1F1F1;
	-moz-box-shadow:-0px -1px 2px #F1F1F1;
	-webkit-box-shadow:-0px -1px 2px #F1F1F1;
	font-weight: normal;
	font-size: 12px;
}

.form-container input[type=text],
.form-container input[type=password],
.form-container input[type=email] {
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border: 1px solid #FFC2DC;
	outline: none;
	color: #F072A9;
  padding: 5px 8px 5px 8px;
  text-transform: capitalize;
	box-shadow: inset 1px 1px 4px #FFD5E7;
	-moz-box-shadow: inset 1px 1px 4px #FFD5E7;
	-webkit-box-shadow: inset 1px 1px 4px #FFD5E7;
	background: #FFEFF6;
  width:50%;
}

.form-container  input[type=submit] {
	background: #EB3B88;
	border: 1px solid #C94A81;
  padding: 5px 15px 5px 15px;
  margin-left: -25px;
  color: #FFCBE2;
  text-transform: capitalize;
	box-shadow: inset -1px -1px 3px #FF62A7;
	-moz-box-shadow: inset -1px -1px 3px #FF62A7;
	-webkit-box-shadow: inset -1px -1px 3px #FF62A7;
	border-radius: 3px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;	
  font-weight: bold;
  cursor: pointer;
}

.form-container  input[type=submit]:hover {
  background: #f1036a;
}

.required{
	color:red;
	font-weight:normal;
}