@import url('https://fonts.googleapis.com/css2?family=Flavors&family=Roboto:wght@300;400;700&display=swap');

*, body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: lightgray;
  color: darkslategray;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

/* unvisited link */
a:link {
  color: darkblue;
}

/* visited link */
a:visited {
  color: lightskyblue;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: blue;
}